# Dependências
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out

# Ambiente
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Outros
README.md
LICENSE
*.md
.vscode
.idea
*.log 